"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    autoIndent: false
    fontSize: 12
  core:
    themes: [
      "one-dark-ui"
      "sublime-default-syntax"
    ]
    disabledPackages: [
      "omnisharp-atom"
    ]
  "exception-reporting":
    userId: "4153ecc7-fa9d-c281-bfc1-655c2153c1b6"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3d75d1113bda7dd1296b17a31b555a0f3cb7c8fc"
  linter:
    showErrorPanel: false
  "run-command": {}
  "tree-view":
    hideIgnoredNames: true
  "tool-bar":
    position: "Left"
    iconSize: "16px"
  "tree-view-filter":
    liveUpdate: true
  react: {}
  "atom-typescript": {}
  racer:
    rustSrcPath: "/home/diullei/dev/rust/rust/src/"
    racerBinPath: "/home/diullei/dev/rust/racer/target/release/racer"
  "linter-clojure":
    clojureExecutablePath: "/home/diullei/.m2/repository/org/clojure/clojure/1.6.0/clojure-1.6.0.jar"
    javaExecutablePath: "/usr/lib/jvm/java-1.7.0-openjdk-amd64/bin"
  "atom-beautify":
    _analyticsUserId: "87e2ad02-0c15-40ab-b5e1-9c181c6f3b6a"
".source.ts":
  editor:
    autoIndent: true
    softWrap: false
    softWrapAtPreferredLineLength: false
